form {
    padding: 0 3dvw;
}
fieldset {
    border: none;
    padding: 0;
}
label {
    margin-bottom: 0.5rem;
}
input, select, textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    background-color: #343436;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #5488b8;
    border: none;
}
