form {
    padding: 0 3dvw;
}
fieldset {
    border: none;
    padding: 0;
}
label {
    margin-bottom: 2.2rem;
}
input, textarea {
    padding: 0.8rem;
    border: none;
    background-color: #343436;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 100%;
}

button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #5488b8;
    border: none;
}

em {
    color: red;
    font-size: 1.4rem;
}

textarea {
    resize: none;
}

.error-message, .info-messsage {
    display: none;   
}

input:required, textarea:required {
    outline: 0.3px dashed #cc474b;
}

input:user-invalid, textarea:user-invalid {
    outline: 3px solid red;
    box-shadow: 0 0 10px red;
}

input:user-valid, textarea:user-valid {
    outline: 3px solid green;
    box-shadow: 0 0 10px green;
}
